# Connecting SQL to Flask

### Introduction

In [1]:
import pandas as pd

In [3]:
tables = pd.read_html('https://www.espn.com/nhl/team/roster/_/name/phi/philadelphia-flyers')

In [6]:
first_table = tables[0]

In [11]:
names = first_table.Name.str[:-2]

In [12]:
numbers = first_table.Name.str[-2:]

In [13]:
numbers

0    82
1    14
2    13
3    11
4    21
5    19
Name: Name, dtype: object

In [15]:
first_table.Name = names

In [17]:
first_table['Number'] = numbers

In [23]:
selected_df = first_table.iloc[:, 1:]

In [22]:
import sqlite3
conn = sqlite3.connect('nhl.db')

In [24]:
selected_df.to_sql('players', conn)

/Users/jeff/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [30]:
pd.read_sql('select Name, Age from players where NAME = "Connor Bunnaman" AND AGE = 21;', conn)

              Name  Age
0  Connor Bunnaman   21

In [39]:
lower_cols = selected_df.columns.map(lambda col: col.)

In [44]:
coerced_cols = ['_'.join(col.lower().split()) for col in lower_cols]

In [46]:
selected_df.columns = coerced_cols

In [52]:
selected_df['id'] = selected_df.index

In [59]:
df = selected_df[['id', 'name', 'age', 'ht', 'wt', 'shot', 'birth_place', 'birthdate', 'number']]

In [61]:
df.to_csv('nhl_players.csv', index = False)

In [64]:
pd.read_csv('./nhl_players.csv')

,id,name,age,ht,wt,shot,birth_place,birthdate,number
0,0,Connor Bunnaman,21,"6' 1""",207 lbs,L,"Guelph, ON",04/16/98,82
1,1,Sean Couturier,27,"6' 3""",211 lbs,L,"Phoenix, AZ",12/07/92,14
2,2,Kevin Hayes,27,"6' 5""",216 lbs,L,"Boston, MA",05/08/92,13
3,3,Travis Konecny,22,"5' 10""",184 lbs,R,"London, ON",03/11/97,11
4,4,Scott Laughton,25,"6' 1""",190 lbs,L,"Oakville, ON",05/30/94,21
5,5,Nolan Patrick,21,"6' 2""",199 lbs,R,"Winnipeg, MB",09/19/98,19

In [31]:
cursor = conn.cursor()

In [33]:
cursor.execute('select * from players;')
cursor.fetchall()

[(0,
  'Connor Bunnaman',
  21,
  '6\' 1"',
  '207 lbs',
  'L',
  'Guelph, ON',
  '04/16/98',
  '82'),
 (1,
  'Sean Couturier',
  27,
  '6\' 3"',
  '211 lbs',
  'L',
  'Phoenix, AZ',
  '12/07/92',
  '14'),
 (2,
  'Kevin Hayes',
  27,
  '6\' 5"',
  '216 lbs',
  'L',
  'Boston, MA',
  '05/08/92',
  '13'),
 (3,
  'Travis Konecny',
  22,
  '5\' 10"',
  '184 lbs',
  'R',
  'London, ON',
  '03/11/97',
  '11'),
 (4,
  'Scott Laughton',
  25,
  '6\' 1"',
  '190 lbs',
  'L',
  'Oakville, ON',
  '05/30/94',
  '21'),
 (5,
  'Nolan Patrick',
  21,
  '6\' 2"',
  '199 lbs',
  'R',
  'Winnipeg, MB',
  '09/19/98',
  '19')]