# Connecting SQL Lab

### Introduction

In this lab, we'll build our own dynamic website for `squawk.io`.  Let's get started.

### Initializing our Application

1. Let's start by creating a file called `app.py`.  
2. Then add a route so that when we visit root url, we see `Welcome to squawk!`.
3. Finally, run python app.py to see that the website run.

### Setting up some routes

Next let's set up some additional routes for our webpage.

A. Setting up the root url

1. Create a file called `index.html`, that has the content:
    ```html
    <h1> Welcome to squawk.io</h1>
    ```
2. Change the root url so that the content in the `index.html` page is now displayed.  The `index.html` page should be in the `views` folder.
3. **Bonus**: For a prettier homepage, we can use Yelp's html simply by [going here](view-source:https://www.yelp.com/) and copying this into our `index.html` file.

B. Setting up the other routes

1. The `restaurants` route.
    * Next let's change the restaurants route so that upon hitting the url, we go to the `restaurants.html` file.  There we can have the following html:
    
```html
<ul>
    <li> Chipotle </li>
    <li> Five Guys </li>
    <li> Sweetgreen </li>
</ul>
```

2. The restaurant route

* Then for the `restaurants/<restaurant_name>` route also use render template so that each page displays the restaurant name.

### Adding SQL

* Setting up our data

In [3]:
url = "https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv"

In [5]:
import sqlite3
import pandas as pd
df = pd.read_csv(url)
conn = sqlite3.connect('restaurants')
df.to_sql('restaurants', conn, index = False)

In [6]:
pd.read_sql('select * from restaurants limit 4', conn)

,Name,Address,City,Category,Rating,URL
0,Rambling House,4292 Katonah Ave,Bronx,Pubs,4.0,http://www.yelp.com/biz/rambling-house-bronx
1,Curry Spot,4268 Katonah Ave,Bronx,Indian,4.0,http://www.yelp.com/biz/curry-spot-bronx
2,Eileens Country Kitchen,964 McLean Ave,Yonkers,American (Traditional),3.5,http://www.yelp.com/biz/eileens-country-kitche...
3,Ali's Roti Shop,4220 White Plains Rd,Bronx,Trinidadian,4.0,http://www.yelp.com/biz/alis-roti-shop-bronx

1. Connecting our App to a database

Next, let's use data from our database in our application.  We can connect our application to a database with something like the following:

```python
app.config.update(dict(
    DATABASE=os.path.join(app.root_path, 'database_name.db'),
))
```

> Just replace `database_name` with the name of the database.

2. Then, let's update our show an individual restaurant route:
* First, change our route so that a user can pass in a restaurant id through the url.  
* Second, will need to sql to make the appropriate query.  We can connect to our database with the following:

```python
conn = sqlite3.connect(app.config['DATABASE'])
cursor = conn.cursor()
```

> As a check that things are setup properly, we display the information by returning `str()` the result of sql query.

* Third, let's now create a class called `Restaurant` that has the following attributes:
    * name, id, cuisine, rating

* Then, alter the show restaurant route, so that after the restaurant is found, it's data is initialized in the `Restaurant` class.

* Finally, use render template to display the information.  Pass the initialized `restaurant` object through the `render_template` method, and display the name, cuisine and rating of the restaurant.

### Summary